

.navigation{
    height: 90px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: blue;
}
.link-navigation{
    color: white;
    text-decoration: none;
}

.pig-image{
    width: 100%;
}
img{
    width: 100%;
}